.carousel{
    height: 700px;
    position: relative;
    .img-bg-1{
        position: absolute;
        @extend .bg-top;
    }
    .img-bg-2{
        position: absolute;
        @extend .bg-bottom;
    }
    .container{
        .item{
            align-items: center;
            padding-top: 60px;
            .item-right{
                animation: fadeRight 1s;
                p{
                    @include text($fs-xl, $fw-2xl, $text-c1-violet);
                    margin-bottom: 10px
                }
                h1{
                    @include text($fs-6xl, $fw-3xl, $text-c1-dark);
                }
            }
            .item-left{
                animation: fadeIn 1s;
                img{
                    width: 100%;
                }
            }
        }
    }
}