footer{
    background: $bg-c3-violet;
    position: relative;
    .img-bg{
        position: absolute;
        z-index: 5;
        @extend .bg-bottom;
    }
    .container{
        position: relative;
        z-index: 10;
        .row{
            padding: 200px 0;
            @include text($fs-sm, $fw-xl, $text-c1-light);
            h5{
                @include text($fs-2a-xl, $fw-3xl, $text-c1-light);
            }
            @for $var from 1 to 5 {
                .item-#{$var}{
                    animation: fadeIn #{$var - 1}s;
                }
            }
            .item-1{
                nav{
                    ul{
                        li{
                            margin-bottom: 10px;
                        }
                    }
                    .icon{
                        a{
                            @include text($fs-sm, $fw-xl, $text-c1-light);
                            transition: all 0.5s;
                            &:hover{
                                color: $text-c1-dark;
                            }
                        }
                    }
                }
            }

            .item-3, .item-2{
                li{
                    margin-bottom: 20px;
                    a{
                        @include text($fs-sm, $fw-xl, $text-c1-light);
                        &:hover{
                            color: $text-c2-violet;
                        }
                    }
                }
            }

            .item-4{
                div{
                    .email{
                        @extend .input-text-3;
                        text-align: center;
                    }
                }
                .btn-2{
                    margin: 20px 0;
                    width: 100%;
                    @include button-2 (10px, 80px, $fs-sm, $fw-2xl);
                }
            }
        }
    }
}